body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #002278;
}

h2 {
  font-size: 28px;
}

p {
  font-weight: 450;
  font-size: 20px;
  line-height: 30px;
}

.font_big{
  font-size: 46px;
  margin: 0px;
  line-height: normal;
}

.section_m > div{
  max-width: 1440px;
  margin: auto;
  padding: 18px 48px;
}
.section_l > div{
  max-width: 100%;
  margin: auto;
}

.bg_white {
  background-color: #ffffff;
}

.bg_blue_light {
  background-color: #E8FFF6;
}

.bg_pink_light {
  background-color: #ffdfe8;
}

.shadow_pink {
  box-shadow: #f0d9e466 0px 4px 20px;
}

.shadow_blue {
  box-shadow: #00657821 0px 4px 20px;
}

.logo {
  padding: 7px 0px;
}

.hero > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 430px;
}



.cta-wrap {
  display: flex;
  gap: 24px;
}

.cta {
  display: inline-block;
  margin-top: 32px;
  text-decoration: none;
  font-weight: 650;
  font-size: 24px;
  border-radius: 12px;
  color: #FF007A;
  padding: 12px 24px;
  transition: 0.3s;
  border: solid #ffffff 2px;
}

.cta:active {
  transition: 0.3s;
  background-color: #ffdfe8;
  border: solid #FF007A 2px;
}

.hero-visual {
  position: relative;
}

.teaserboxes{
    gap: 24px;
    display: flex;
}

.teaserboxes > div{
    padding: 24px;
    border-radius: 16px;
    width: 33.3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.teaserboxes > div > img{
    width: 70%;
    display: block;
    margin: auto;
}


@media screen and (max-width: 750px) {

  h2 {
    font-size: 24px;
  }

  .section_m > div{
    padding: 18px;
  }

  .font_big{
    font-size: 32px;
  }

  .logo {
      max-width: 80px;
      padding: 10px 0px 0px 0px;
  }

  .hero > div {
    height: 280px;
  }

  .hero-visual {
    right: 20px;
    width: 30%;
  }

  .cta {
    margin-top: 24px;
    font-size: 21px;
    border-radius: 12px;
    padding: 9px 20px;
  }

  .teaserboxes {
    flex-direction: column;
  }

  .teaserboxes > div {
    width: 100%;
  }

  .teaserboxes > div > img{
    width: 40%;
  }

}

@media (hover: hover) {
  .cta:hover {
    transition: 0.3s;
    background-color: #ffffff;
    border: solid #FF007A 2px;
  }
}
