:root {
  /* COLORS */
  --color-primary: #8190A3;
  --color-secondary: #F1F4F9;
  --color-accent: #536378;
  --color-background: #fdfdfd;
  --color-surface: #ffffff;
  --color-text: #1A1B1F;
  --color-muted: #767679;

  /* TYPOGRAPHY */
  --font-base: 'Montserrat', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
  --font-size-s: 1rem;     /* 16px */
  --font-size-xs: 0.875rem;   /* 14px */
  --font-size-base: 1.25rem;    /* 20px */
  --font-size-xl: 1.88rem;    /* 30px */
  --line-height: 1.6;
  --font-weight-bold: 600;

  /* SPACING */
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;

  /* RADIUS + SHADOW */
  --radius: 12px;
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 4px 16px rgba(0, 0, 0, 0.11);
}





  /* -------------------- */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  line-height: var(--line-height);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-background);
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 1260px;
}

h1, h2 {
  font-size: var(--font-size-xl);
  margin-bottom: 20px;
}

h3 {
  font-size: var(--font-size-base);
}

img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
}

a:hover img {
  transform: scale(1.02);
  cursor: pointer;
}

button {
  color: var(--color-surface);
  background-color: var(--color-primary);
  padding: var(--space-s) var(--space-l);
  border-radius: var(--radius);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease-in-out;
  box-shadow: none;
}

button:hover {
  background-color: var(--color-accent);
  cursor: pointer;
  box-shadow: var(--shadow);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl);
  max-width: 100%;
}

.project {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: box-shadow 0.3s ease, color 0.3s ease-in-out;
}

.project:hover {
  box-shadow: var(--shadow-hover);
}

.project-content {
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-s);
  font-size: var(--font-size-s);
}

.project-content-description {
    padding-bottom: 8px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
