body {
   background-color: #222;
  font-family: Arial, sans-serif;
 }

 .grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
   grid-template-rows: 200px 300px; /* First row 200 pixels, second row 300 pixels */
   gap: 10px; /* Gap between grid items */
 }

 .grid-item {
   background-color: #333;
   border-radius: 5px;
   padding: 20px;
   color: #fff;
 }

 .grid-item h3 {
   margin-top: 0;
   font-size: 18px;
 }

 .grid-item p {
   margin-bottom: 0;
   font-size: 14px;
 }
@media screen and (max-width: 768px) {
/* Adjust for smaller screens */
.grid-container {
 grid-template-columns: 1fr; /* Single column layout */
}
}
